.cabecalho{background-color: rgb(27, 26, 26);
             color: blueviolet;
             display: flex;
             justify-content: space-around;}
.imagem-logo{width: 300px;}
.sobre{background-color: rgb(11, 11, 11);
    color: blueviolet;}
